{% load bootstrap3 %}

<td>{{ transaction.date }}</td>
<td>{{ transaction.payee }}</td>
<td>
  {% if transaction.amount >= 0 %}
  <span class="text-success">
    &pound;{{ transaction.absolute_amount }}
  </span>
  {% else %}
  <span class="text-danger">
    -&pound;{{ transaction.absolute_amount }}
  </span>
  {% endif %}
</td>
<td>
  {% if transaction.transaction_category %}
  <a href="{{ transaction.transaction_category.get_absolute_url }}">{{ transaction.transaction_category }}</a>
  {% else %}
  Uncategorised
  {% endif %}
  (<a href="{{ transaction.get_categorisation_url }}?keepreferrer">Fix</a>)</td>
<td>
  {% if not transaction.category_verified %}
  {% if transaction.transaction_category %}
  <div>
    <form method="post" action="{% url 'djofx_transaction_verify' transaction.pk %}" class="update_row">
      {% csrf_token %}
      <button type="submit" class="btn btn-success btn-xs">
        {% bootstrap_icon "thumbs-up" %}
        Mark verified
      </button>
    </form>
  </div>
  {% endif %}
  {% endif %}
  <div>
    <form method="post" action="{% url 'djofx_transaction_reguess' transaction.pk %}" class="update_row">
      {% csrf_token %}
      <button type="submit" class="btn btn-info btn-xs">
        {% bootstrap_icon "refresh" %}
        Re-guess
      </button>
    </form>
  </div>
</td>
