{% extends 'djofx/base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block extrajs %}
<script src="{% static 'djofx/charts/overall_pie.js' %}"></script>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>Accounts</h2>

    <table class="table table-striped">
      <tr>
        <th>Account</th>
        <th>Earliest</th>
        <th>Latest</th>
      </tr>
      {% for account in accounts %}
      <tr>
        <td>
          <a href="{{ account.get_absolute_url }}">{{ account }}</a>
          <small class="text-muted">
            (<a href="{{ account.get_unverified_url }}">{{ account.unverified_transactions.count }} unverified transactions</a>)
          </small>
        </td>
        <td>{{ account.earliest_transaction }}</td>
        <td>{{ account.latest_transaction }}</td>
      </tr>
      {% endfor %}
    </table>

    <hr />

    <h2>Upload OFX File</h2>
    <form method="post" action="{% url 'djofx_upload' %}" enctype="multipart/form-data" class="form">
      {% csrf_token %}

      {% bootstrap_form form %}
      {% buttons %}
      <button type="submit" class="btn btn-success">
        Upload OFX File
      </button>
      {% endbuttons %}
    </form>

  </div>
  <div class="col-md-6">
    <h2>Spending Breakdown</h2>

    <div id="placeholder" style="height:300px"></div>

    <table class="table table-striped">
    {% for total, pk, item in breakdown %}
    <tr>
      {% if pk != 0 %}
      <th><a href="{% url 'djofx_category' pk %}">{{ item }}</a></th>
      {% else %}
      <th>{{ item }}</th>
      {% endif %}
      <td>&pound;{{ total }}<td>
    </tr>
    {% endfor %}
    </table>

  </div>
</div>

<script type="text/javascript">
  var data = {{ chart_data|safe }};
</script>

{% endblock %}
